body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    display: flex;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Đặt các phần tử (Welcome và Container) vào giữa theo chiều dọc */
}

.welcome {
    color: #b2a3ef;
    font-size: 25px;
    margin-bottom: 20px; /* Thêm khoảng cách giữa Welcome và Container */
}

.container {
    width: 400px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab-link {
    flex: 1;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.tab-link.active {
    background-color: #b2a3ef;
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #666;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #b2a3ef;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b2a3ef;
}

#loginMessage, #signUpMessage {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    display: none;
    padding: 10px;
    border-radius: 5px;
}
